.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
  overflow: hidden;
  
  &--active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 2px;
    background-color: var(--dark-accent);
    box-shadow: 10px 0 30px 15px var(--normal-accent), -10px 0 30px 15px var(--normal-accent);
    animation: moveLoadBar 2s cubic-bezier(.09,.89,.7,.71) infinite;
  }
}

@keyframes moveLoadBar {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}

