nav{
  background-color: var(--normal-accent);
  width: 80px;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.nav-link{
  all: unset;
  background-color: var(--white);

  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  flex-direction: column;
  width: 48px;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  i{
    font-size: 1.6rem;
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  }
  &:hover{
    border-radius: 20px;
    background-color: var(--dark-accent);
    i{ color: var(--white) }
  }

  &:active{
    transform: scale(0.9);
  }
}

.active{
  border-radius: 20px;
  background-color: var(--dark-accent);
  i{ color: var(--white) }
}
