<app-bottom-bar
  [allSections]="allSections"
  [currentQuestionIndex]="currentQuestionIndex"
  (changeToQuestion)="changeToQuestion($event)"
  (changeToSection)="changeToSection($event)"
  [currentSectionIndex]="currentSectionIndex"
  [questionPaper]="questionPaper"
  [isInPreviewMode]="isInPreviewMode"
></app-bottom-bar>
<app-sidebar
  [isMobile]="isMobile"
  [questions]="questionPaper[this.currentSectionIndex].questions"
  [section]="questionPaper[this.currentSectionIndex]"
  [isLastSection]="allSections.length - 1 === currentSectionIndex"
  [currentSectionIndex]="currentSectionIndex"
  [currentQuestionIndex]="currentQuestionIndex"
  [currentSectionTime]="questionPaper[this.currentSectionIndex].maxTime"
  [isInPreviewMode]="isInPreviewMode"
  (changeToQuestion)="changeToQuestion($event)"
  (changeToSection)="changeToSection($event)"
  (submitPaper)="submitPaper()"
></app-sidebar>
<app-question
  [questionNumber]="currentQuestionIndex + 1"
  [question]="
    questionPaper[currentSectionIndex].questions[currentQuestionIndex]
  "
  [isInPreviewMode]="isInPreviewMode"
  [attemptId]="attemptId"
></app-question>
