<app-bottom-bar
  [allSections]="allSections"
  [currentQuestionIndex]="currentQuestionIndex"
  (changeToQuestion)="changeToQuestion($event)"
  (changeToSection)="changeToSection($event)"
  [currentSectionIndex]="currentSectionIndex"
  [questionPaper]="questionPaper"
></app-bottom-bar>
<app-sidebar
  [isMobile]="isMobile"
  [questions]="questionPaper[this.currentSectionIndex].questions"
  [section]="questionPaper[this.currentSectionIndex]"
  [currentSectionIndex]="currentSectionIndex"
  [currentQuestionIndex]="currentQuestionIndex"
  [currentSectionTime]="questionPaper[this.currentSectionIndex].maxTime"
  (changeToQuestion)="changeToQuestion($event)"
  (changeToSection)="changeToSection($event)"

></app-sidebar>
<app-question
  [questionNumber]="currentQuestionIndex + 1"
  [question]="
    questionPaper[currentSectionIndex].questions[currentQuestionIndex]
  "
></app-question>
