.main{
  margin-left: 80px;
}

.result-sections{
  height: calc(100vh - 110px);
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 0.9rem;

}

.paper-card-wrapper{
  // display: flex;
  // justify-content: center;

}

.message{
  font-weight: 200;
  margin-top: 20%;
  margin-bottom: auto;
}

.columns-icon{
  all: unset;
  height: 38px;
  width: 38px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--dark-accent);
  i{ 
    margin: 8px;
    font-size: 1.2rem;
    color: var(--light-accent);
  }

  &:hover{
    background-color: var(--medium-accent);
    i{
      color: var(--dark-accent);
    }
  }

}

.search-bar{
  margin-top: 20px;
  background-color: var(--white);
  height: 60px;
  border-radius: 10px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  .search-field{
    all: unset;
    font-size: 2rem;
    font-weight: 200;
    color: var(--dark-accent);
  }
}
.test-papers{
  height: calc(100vh - 110px);
  margin: 10px 0 20px 0;
  background-color: var(--white);
  overflow: scroll;
  scroll-snap-align: start;
  border-radius: 10px;
  // .row{
  //   height: 100%;
  //   .col, .col-3, .col-4{
  //     height: 50%;
  //   }
  // }
}


.overview-card{
  background-color: var(--white);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  label{
    font-size: 1.2rem;
  }
}

:host ::ng-deep .p-datatable .p-datatable-header{
  background-color: var(--white-accent);
  padding: 4px 2px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  margin-bottom: 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr {
  border-radius: 20px;
  th{
    background-color: var(--normal-accent);
    color: var(--white);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    &:first-child{
      border-top-left-radius: 10px ;
    }
    
    &:last-child{
      border-top-right-radius: 10px ;
    }
  }
  }

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
//  width: 2rem !important; 
}
:host ::ng-deep .p-datatable {
  font-size: 0.8rem;
}

:host ::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover, :host ::ng-deep .p-datatable .p-sortable-column.p-highlight:hover {
  background-color: var(--dark-accent) !important;
  color: var(--light-accent);
}

p-sorticon{
//  font-size: 0.5rem;
}

:host ::ng-deep .p-datatable .p-sortable-column:focus{
  box-shadow: none;
}


@media screen and (max-width: 64em) {
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
      top: 0px;
  }
}

.result-small-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  height: 120px;
  cursor: pointer;
  gap: 1rem;
  // background-color: var(--light-accent);
  color: var(--dark-accent);
  .label{
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 300;
    
  }
  .data{
    font-family: 'Montserrat';
    font-size: 1.9rem;
    font-weight: 500;
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover{
    border-radius: 20px;
     background-color: var(--normal-accent);
     color: var(--light-accent);
     .data{
      font-size: 2.2rem;
      // -webkit-text-stroke: 2px var(--light-accent);
      }

  }
}


.test-view-btn{
  all: unset;
  padding: 6px 10px;
  top: -18px;
  left: 20px;
  font-size: 1rem;
  position: absolute;
  background: var(--gray);
  border-radius: 14px;
  transition: all 0.4s ease-out;
  &:hover{
    background: var(--dark-accent);
    color: var(--light-accent);
  }
  &:active{
    transform: scale(0.95);
  }

}