.main{
  margin-left: 80px;
}

.paper-card-wrapper{
  // display: flex;
  // justify-content: center;

}

.columns-icon{
  all: unset;
  height: 38px;
  width: 38px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--dark-accent);
  i{ 
    margin: 8px;
    font-size: 1.2rem;
    color: var(--light-accent);
  }

  &:hover{
    background-color: var(--medium-accent);
    i{
      color: var(--dark-accent);
    }
  }

}

.search-bar{
  margin-top: 20px;
  background-color: var(--white);
  height: 60px;
  border-radius: 10px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  .search-field{
    all: unset;
    font-size: 2rem;
    font-weight: 200;
    color: var(--dark-accent);
  }
}
.test-papers{
  height: calc(100vh - 110px);
  margin: 10px 0 20px 0;
  background-color: var(--white);
  overflow: scroll;
  border-radius: 10px;
}

.paper-card {
  font-family: 'Montserrat';
  position: relative;
  max-width: 260px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  height: 18rem;
  background-color: var(--white);
  border-radius: 10px;
  .label-wrapper {
    // background-color: var(--normal-accent);
    // color: var(--white);
    .label {
      font-size: 1.2rem;
    }
    p {
      font-size: 14px;
    }
  }
  .total-ques{
    font-size: 3rem;
    font-weight: 700;
  }
  .start {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    right: 20px;
    bottom: 20px;
    color: var(--light-accent);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: var(--normal-accent);
    &:hover,
    &:active {
      // transform: scale(1.1);
      background-color: var(--dark-accent);
      i {
        font-size: 28px !important;
        text-align: center;
      }
    }
    border-radius: 10px;
    i {
      font-size: 24px !important;
      transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
  .attempts {
    position: absolute;
    bottom: 20px;
    font-size: 14px;
  }
}

.test-papers {
  // background-color: white;
}



.overview-card{
  background-color: var(--white);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  label{
    font-size: 1.2rem;
  }
}

:host ::ng-deep .p-datatable .p-datatable-header{
  background-color: var(--white-accent);
  padding: 4px 2px;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  margin-bottom: 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr {
  border-radius: 20px;
  th{
    background-color: var(--normal-accent);
    color: var(--white);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    &:first-child{
      border-top-left-radius: 10px ;
    }
    
    &:last-child{
      border-top-right-radius: 10px ;
    }
  }
  }

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
//  width: 2rem !important; 
}
:host ::ng-deep .p-datatable {
  font-size: 0.8rem;
}

:host ::ng-deep .p-datatable .p-sortable-column:not(.p-highlight):hover, :host ::ng-deep .p-datatable .p-sortable-column.p-highlight:hover {
  background-color: var(--dark-accent) !important;
  color: var(--light-accent);
}

p-sorticon{
//  font-size: 0.5rem;
}

:host ::ng-deep .p-datatable .p-sortable-column:focus{
  box-shadow: none;
}


@media screen and (max-width: 64em) {
  :host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
      top: 0px;
  }
}