.main{
  margin-left: 300px;
}

.paper-card-wrapper{
  // display: flex;
  // justify-content: center;

}

.search-bar{
  margin-top: 20px;
  background-color: var(--white);
  height: 60px;
  border-radius: 10px;
}
.test-papers{
  height: calc(100vh - 110px);
  margin: 10px 0 20px 0;
  background-color: var(--white);
  overflow: scroll;
  border-radius: 10px;
}

.paper-card {
  font-family: 'Montserrat';
  position: relative;
  // max-width: 260px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  height: 18rem;
  background-color: var(--white);
  border-radius: 10px;
  .label-wrapper {
    // background-color: var(--normal-accent);
    // color: var(--white);
    .label {
      font-size: 1.2rem;
    }
    p {
      font-size: 14px;
    }
  }
  .total-ques{
    font-size: 3rem;
    font-weight: 700;
  }
  .start {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    right: 20px;
    bottom: 20px;
    color: var(--light-accent);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: var(--normal-accent);
    &:hover,
    &:active {
      // transform: scale(1.1);
      background-color: var(--dark-accent);
      i {
        padding-top: 4px;
        padding-right: 1px;
        font-size: 40px !important;
        text-align: center;
      }
    }
    border-radius: 10px;
    i {
      font-size: 24px !important;
      transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }
  .attempts {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
  }
}

.test-papers {
  // background-color: white;
}



.overview-card{
  background-color: var(--white);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  label{
    font-size: 1.2rem;
  }
}
