<div class="">
  <ng-template [ngIf]="question.quesType.toUpperCase()  === 'NE'">
    <div class="d-flex align-items-center">
      <label class="me-2 fs-5 mb-0" for=""> Your Response </label> <input type="number" pInputText [(ngModel)]="question.userResponse" (keyup)="onChange($event)"/>
    </div>
  </ng-template>
  <ng-template [ngIf]="question.quesType.toUpperCase() === 'MCQ'">
    <!-- <label *ngFor="let option of options" class="m-4"
      ><input
        type="radio"
        class="radio-inline"
        name="radios"
        (click)="onOptionSelect($event)"
        [checked]="option.userResponse"
        [value]="option.id" /><span class="outside"
        ><span class="inside"></span></span
      ><span class="" [innerHtml]="option.value"></span
    ></label> -->
    <label *ngFor="let option of options" class="my-4">
			<input         
      type="radio"
      class="radio-inline"
      name="radios"
      (click)="onOptionSelect($event)"
      [checked]="option.userResponse"
      [value]="option.id" />
			<span [innerHtml]="option.value" >HTML</span>
		</label>
  </ng-template>
  
</div>
