*{
  font-size: 0.95rem;
}

.question{
  color: var(--dark-accent);
  span{
    font-family: 'Montserrat' !important;
    font-size: 1.04rem;
    font-weight: 400;
  }
}

.correct{
  font-style: italic;
  font-weight: 600;
}

.explanation{
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 10px;
  background-color: var(--light-accent);
  color: var(--dark-accent);
  text-align: justify;
  padding: 2px 10px;
}

strong{
  font-size: 1.1rem;
}