#bottom-bar {
  width: calc(100vw - 50px);
  position: fixed;
  top: 6px;
	z-index: 2;
	border-radius: 50px;
	// position: relative;
  background-color: white;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");



.tabs {
  display: flex;
	position: relative;
	background-color: #fff;
	height: 48px;
	padding: 0.45rem;	
	border-radius: 99px; // just a high number to create pill effect
	* {
    z-index: 2;
	}
}

input[type="radio"] {
  display: none;
}

.tab {
  font-family: 'Montserrat';
  z-index: 5 !important;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 36px;
	width: 240px;
	font-size: 0.9rem;
	font-weight: 500;
	border-radius: 99px; // just a high number to create pill effect
	cursor: pointer;
	transition: color 0.15s ease-in;
}

.notification {
	display: flex;
	align-items: center;
	justify-content: center;
  font-size: 2rem !important;
  color: var(--normal-accent);
	// width: 2rem;
	// height: 2rem;

	margin-left: 0.2rem;
	border-radius: 50%;
	transition: 0.15s ease-in;
}

input[type="radio"] {
	&:checked {
		& + label {
			color: var(--light-accent);
			& > .notification {
        color: var(--light-accent);
			}
		}
	}
}

input[id="0"] {
	&:checked {
		& ~ .glider {
			transform: translateX(0);
		}
	}
}

input[id="1"] {
	&:checked {
		& ~ .glider {
			transform: translateX(100%);
		}
	}
}

input[id="2"] {
	&:checked {
		& ~ .glider {
			transform: translateX(200%);
		}
	}
}

.glider {
	position: absolute;
	display: flex;
	height: 36px;
	width: 240px;
	// background-color: var(--dark-accent);
	background: rgb(9,9,121);
	background: linear-gradient(90deg, var(--dark-accent) 0%, var(--normal-accent) 100%);
	z-index: 1;
	border-radius: 99px; // just a high number to create pill effect
	transition: 0.25s ease-out;
}

@media (max-width: 700px) {
	.tabs {
		transform: scale(0.6);
	}
}
