.main{
  margin-left: 80px;
  .bg{
    background-color: var(--light-accent);
    height: calc(100vh - 40px);
    border-radius: 10px;
    overflow-y: scroll;
    
  }
}

.color-wrapper{
  background-color: var(--white);
  border: 12px solid var(--white);
  display: flex;
  // flex-direction: column;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
  width: 100;
  transition: all 0.2s ease-out;
  cursor: pointer;
  padding: 6px;

  &:hover{
    transform: scale(1.04);
  }
  
  &:active{
    transform: scale(0.950);
  }
}

// .theme-name{
//   transform: rotate(-90deg);
// }

.active-theme{
  border: 12px solid var(--success);
  border-radius: 8px;
}

.color-box{
  height: 100px !important;
  width: 100% !important;
  display: inline-block;
  border: 4px solid white;
  border-radius: 12px;
  
}