::ng-deep .p-scrollpanel{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 10px;
  background-color: white;
}

::ng-deep .custombar1{
  // background-color: var(--normal-accent) !important;
  background: linear-gradient(180deg, var(--normal-accent) 0%, var(--normal-accent) 100%);
  color: white;
  width: 100%;
}

@media (max-width: 960px) {
	::ng-deep .custombar1{
    background-color: var(--normal-accent) !important;
    color: white;
    width: 100%;
    margin-bottom: 24px;
  }
}

::ng-deep .p-splitter .p-splitter-gutter {
  background: transparent;
}

p-scrollpanel{
  width: 100%;
}


.question-number {
  font-family: "Montserrat" !important;
  font-size: 2rem;
  font-weight: 500;
  color: var(--normal-accent);
}
.question {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Space Grotesk', sans-serif; 
}

.option {
  // background-color: var(--normal-accent) !important;
  margin-top: 1rem !important;
}
::ng-deep .p-scrollpanel-component div {
  font-size: 0.8rem !important;
}

::ng-deep label p {
  display: inline !important;
}

/* inspiration */
.inspiration {
  font-size: 12px;
  margin-top: 50px;
  position: absolute;
  bottom: 10px;
  font-weight: 300;
}

.inspiration a {
  color: #666;
}
@media screen and (max-width: 767px) {
  /* inspiration */
  .inspiration {
    display: none;
  }
}

.options-wrapper {
  // background-color: var(--light-accent);
  border-radius: 10px;
}

::ng-deep .passage {
  b{
    font-size: 20px;
    font-weight: 500;
  }
  font-family: 'Space Grotesk', sans-serif; 
  text-align: justify !important;
  line-height: 24px;
}

::ng-deep .passage strong{
  font-size: 20px;
  font-weight: 500;
}

::ng-deep .p-scrollpanel .p-scrollpanel-bar {
  background-color: var(--dark-accent);
  // width: 10px;
}

::ng-deep *::-webkit-scrollbar
{
	width: 10px !important;
	background-color: #F5F5F5 !important;
}

*::-webkit-scrollbar-thumb
{
  width: 10px !important;
	background-color: #000000 !important;
	border: 0px solid #555555 !important;
}

.mobile-question{
  height: 100% !important;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 20px;
  p-scrollpanel{
    scroll-snap-align: start;
  }
}