<p-sidebar
  [visible]="true"
  [modal]="false"
  [dismissible]="false"
  [showCloseIcon]="false"
  [position]="'right'"
>
  <div class="timer d-none d-lg-flex flex-column">
    <i class="bi bi-alarm"></i>
    <!-- <countdown
      #cd
      [config]="config"
      (event)="timerFinishHandeler($event)"
    ></countdown> -->
    <div class="time-box">
      {{ toHoursMinutesSeconds(section.maxTime - section.timeSpent) }}
  </div>
  </div>
  <div class="d-none d-lg-flex align-items-center justify-content-between px-2 my-4">
    <i
      class="bi bi-caret-left prev-next-buttons"
      (click)="prevQuestionHandeler()"
    ></i>
    <h3 class="text-center">QUES {{currentQuestionIndex + 1}} <span (click)="setQuestionStatus(statusEnum.REVIEW)"
      ><i
        [ngClass]="{
          'bi bi-bookmark-star-fill': questions[currentQuestionIndex].status === 'review' || questions[currentQuestionIndex].status === 'answeredReview',
          'text-yellow': questions[currentQuestionIndex].status === 'answeredReview',
          'bi bi-bookmark-star': questions[currentQuestionIndex].status !== 'answeredReview' && questions[currentQuestionIndex].status !== 'review' ,
        }"
      ></i
    ></span> </h3>
    <i
      class="bi bi-caret-right prev-next-buttons"
      (click)="nextQuestionHandeler()"
    ></i>
  </div>
  <div class="row  row-cols-1 row-cols-lg-5" id="style-4">
    <div class="col my-2 d-flex justify-content-center" *ngFor="let question of questions; let i = index">
      <div
        class="ques-number"
        style="padding: 22px"
        [ngClass]="{ 'active-question': currentQuestionIndex == i }"
        (click)="changeToQuestionHandeler(i)"
      >
        {{ i + 1 }}
        <i
          class="bi"
          [ngClass]="{
            'text-white': i === currentQuestionIndex,
            'bi-bookmark-star-fill': questions[i].status === 'review' || questions[i].status === 'answeredReview',
            'bi-bookmark-check-fill': questions[i].status === 'answered',
            'bi-bookmark-x-fill': questions[i].status === 'notAnswered',
            'text-yellow': questions[i].status === 'answeredReview',
            'text-blue': questions[i].status === 'review',
            'text-red': questions[i].status === 'notAnswered',
            'text-green': questions[i].status === 'answered'
          }"
        ></i>
      </div>
    </div>
  </div>
  <p-confirmPopup></p-confirmPopup>
  <div class="d-flex justify-content-center">
    <button class="theme-btn" *ngIf="!isLastSection" (click)="confirm($event)">Next Section <i class="bi bi-arrow-bar-right ms-1"></i></button>
    <button class="theme-btn px-4" *ngIf="isLastSection"> Submit <i class="bi bi-check2-square"></i> </button>
  </div>
</p-sidebar>
