<p-sidebar
  [visible]="true"
  [modal]="false"
  [dismissible]="false"
  [showCloseIcon]="false"
  [position]="'right'"
>
  <div class="timer d-none d-lg-flex flex-column">
    <i class="bi bi-alarm"></i>
    <countdown
      #cd
      [config]="config"
      (event)="timerFinishHandeler($event)"
    ></countdown>
  </div>
  <div class="d-none d-lg-flex align-items-center justify-content-between px-4 my-4">
    <i
      class="bi bi-caret-left prev-next-buttons"
      (click)="prevQuestionHandeler()"
    ></i>
    <h3 class="text-center">QUES {{currentQuestionIndex + 1}}</h3>
    <i
      class="bi bi-caret-right prev-next-buttons"
      (click)="nextQuestionHandeler()"
    ></i>
  </div>
  <div class="row  row-cols-1 row-cols-lg-5" id="style-4">
    <div class="col my-2 d-flex justify-content-center" *ngFor="let question of questions; let i = index">
      <div
        class="ques-number"
        style="padding: 22px"
        [ngClass]="{ 'active-question': currentQuestionIndex == i }"
        (click)="changeToQuestionHandeler(i)"
      >
        {{ i + 1 }}
        <i
          class="bi"
          [ngClass]="{
            'text-white': i === currentQuestionIndex,
            'bi-bookmark-star-fill': questions[i].status === 'review',
            'bi-bookmark-check-fill': questions[i].status === 'answered',
            'bi-bookmark-x-fill': questions[i].status === 'notAnswered',
            'text-red': questions[i].status === 'notAnswered',
            'text-green': questions[i].status === 'answered'
          }"
        ></i>
      </div>
    </div>
  </div>
  <h4 class="text-center">
    Time Spent: {{ questions[currentQuestionIndex].timeSpent }} sec
  </h4>
</p-sidebar>
