<p-sidebar
  [visible]="true"
  [modal]="false"
  [dismissible]="false"
  [showCloseIcon]="false"
  [position]="'right'"
>
  <h3>QUESTIONS</h3>
  <h1>
    <i
      class="bi bi-eye"
      style="color: red !important"
      pTooltip="Enter your username"
    ></i>
    <i class="bi bi-patch-check" style="color: green !important"></i>
    <i class="bi bi-bookmark-fill" style="color: gray !important"></i>
    <i class="bi bi-award" style="color: purple !important"></i>
  </h1>
  <div class="row row-cols-5 px-3">
    <div class="col my-2" *ngFor="let question of questions; let i = index">
      <div class="ques-number p-3">
        {{ i + 1 }}
      </div>
    </div>
  </div>
</p-sidebar>
