::ng-deep .p-sidebar{
  // background-color: var(--light-accent) !important;
  border-radius: 10px;
  height: calc(100vh - 100px) !important;
  // width: 4.8rem !important;
  right: 1.4rem !important;
  top: 4.8rem !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  // border-top-left-radius: 50px;
  // border-bottom-left-radius: 50px;
}

@media (max-width: 960px) {
	::ng-deep .p-sidebar{
    // background-color: var(--light-accent) !important;
    border-radius: 10px;
    height: calc(100vh - 100px) !important;
    width: 4.8rem !important;
    right: 0.4rem !important;
    top: 4.8rem !important;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    // border-top-left-radius: 50px;
    // border-bottom-left-radius: 50px;
  }
}


h3{
  font-weight: 300;
  font-size: 2rem;
  font-family: "Montserrat" !important;
}
.ques-number {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
  width: 16px !important;
  height: 16px !important;
  color: var(--normal-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-family: "Montserrat" !important;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.4s ease-in;
  position: relative;
  i {
    top: 22.8px;
    font-size: 16px;
    right: 0;
  }
}

.ques-number:hover, .active-question {
  background-color: var(--normal-accent);
  color: white;
  cursor: pointer;
  border-radius: 100%;
}

.text-green{
  color: #7ECFC0;
}

.text-red{
  color: #ef4b4b;
}

.timer{
  font-size: 2.6rem;
  font-family: 'Montserrat', sans-serif !important ;
  text-align: center;
  color: var(--normal-accent);
  i{
    animation: wiggle 2s linear infinite 10s;
    font-size: 3rem;
  }
}

::ng-deep .timer{
  .count-down{
    span{
      font-family: 'Montserrat', sans-serif !important;
    }
  }
}

.prev-next-buttons {
  font-size: 2.6rem;
  color: var(--normal-accent);
	transition: all 0.1s ease-out;
}
.prev-next-buttons:hover {
  transform: scale(1.2);
	fill: var(--normal-accent) !important;
  
}
.prev-next-buttons:active {
  transform: scale(0.9);
}

::ng-deep .p-sidebar-content::-webkit-scrollbar
{
	width: 0px !important;
	background-color: #F5F5F5 !important;
}

*::-webkit-scrollbar-thumb
{
	background-color: #000000 !important;
	border: 2px solid #555555 !important;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}