<p-sidebar
  styleClass="mini-dashboard"
  [visible]="isMiniDashBoardVisible"
  [modal]="true"
  (onHide)="hideMiniDashboard()"
  [position]="'right'"
>
<div class="header text-center pt-4">Results</div>
<div class="result-card-parent" 

>
<ng-template [ngIf]="attempts.length > 0" class="wrapper">
  <div  class="result-card px-4 py-3 btn btn-2 hover-slide-right animate slide-left delay-0" [ngClass]="{ 'rainbow': result.id === deletedId, 'active': result.id === attemptId }" *ngFor="let result of attempts; let idx = index">
    <div class="d-flex justify-content-between">
        <span class="title" (click)="goToResult($event, result.id)" ><i class="bi bi-clipboard-data"></i> {{ result.questionPaperName }} </span>
        <i *ngIf="result.id !== attemptId" class="bi bi-trash delete-icon" (click)="deleteResult($event, result.id)"></i>
      </div>
      <div class="mt-2 d-flex justify-content-between">
        <p class="date"><i class="bi bi-clock-history"></i> {{ result.createdAt | date:'dd MMM yyyy' }}</p>
        <p class="time"> {{ result.createdAt | date:'hh:mm a' }}</p>
      </div>
    </div>
  </ng-template>
  <div class="loading-body mt-4 px-4" *ngIf="isListLoading && attempts.length < 1">
    <p-skeleton styleClass="my-2" height="4rem" width="100%" *ngFor="let item of [1,1,1,1,1,1,1,1,1]"></p-skeleton>
  </div>
</div>
</p-sidebar>