.mini-dashboard{
  height: calc(100vh - 40px);
  background-color: var(--white);
  border-radius: 10px;
  margin: 20px 0 20px 0;
}

.header{
  font-size: 1.6rem;
  text-transform: uppercase;
}

*{
  font-family: 'Montserrat';
}

.title{
  font-weight: 500;
  position: relative;
  z-index: 2;
  font-size: 1.2rem;
  color: var(--dark-accent);
}

.delete-icon{
  z-index: 5;
  color: var(--dark-accent);
  position: relative;
  &:hover{
    color: var(--danger)
  }
}
.date, .time{
  position: relative;
  z-index: 2;
  font-size: 0.9rem;
  color: var(--normal-accent);
}

.result-card-parent{
  max-height: 86%;
  overflow-y: scroll;
}

.result-card{
  // border: 0.4px solid var(--dark-accent);
  // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 4px 12px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  transition: 0.3s ease-out;

  // &:hover{
  //   background-color: var(--light-accent);
  // }
}

.result-card.active{
  border-right: 24px solid var(--normal-accent);
  background-color: var(--light-accent);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn {
  position: relative;
  // width: auto; height: auto;
  background-color: transparent;
  border: none;
  z-index: 2;
}


.result-card::before {
  background-color: var(--light-accent);
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


/* 9. hover-slide-right */
.hover-slide-right::before {
  top: 0; bottom: 0; right: 0; 
  height: 100%; width: 0%;
  position: absolute;
  content: '';
  background-color: var(--light-accent);
  z-index: 0;
  border-radius: 10px;


}
.hover-slide-right:hover::before {
  width: 100%;
}


@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow {
	position: relative;
	z-index: 0;
	border-radius: 2px;
	overflow: hidden;


	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-color: var(--medium-accent);
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(var(--dark-accent), var(--normal-accent)), linear-gradient(var(--light-accent), var(--medium-accent));
		animation: rotate 4s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
	}
}