.main{
  margin-left: 80px;
}

.search-bar{
  margin-top: 20px;
  background-color: var(--white);
  height: 60px;
  border-radius: 10px;
  display: flex;
  padding-left: 20px;
  align-items: center;
  .search-field{
    all: unset;
    font-size: 2rem;
    font-weight: 200;
    color: var(--dark-accent);
  }
}

.test-papers{
  height: calc(100vh - 110px);
  margin: 10px 0 20px 0;
  background-color: var(--white);
  overflow: scroll;
  scroll-snap-align: start;
  border-radius: 10px;
  // .row{
  //   height: 100%;
  //   .col, .col-3, .col-4{
  //     height: 50%;
  //   }
  // }
}

.paper-card {
  font-family: 'Montserrat';
  position: relative;
  // max-width: 260px;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 18rem;
  background-color: var(--white);
  border-radius: 10px;
  .label-wrapper {
    // background-color: var(--normal-accent);
    // color: var(--white);
    .label {
      font-size: 1.2rem;
    }
    p {
      font-size: 14px;
    }
  }
  .total-ques{
    font-size: 3rem;
    font-weight: 700;
  }

  .like{
    position: absolute;
    right: 10%;
    color: var(--normal-accent);
    i{
      font-size: 2em;
    }
  }

  .attempts {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    font-size: 14px;
  }
}


.heart {
  width: 100px;
  height: 100px;
  transform: scale(1.2);
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
  position: absolute;
  right: -6px;
  top: -10px;
  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}



@-webkit-keyframes like {
  0%   { transform: scale(1); }
  90%   { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}